In [252]:
import numpy as np
import pandas as pd
import seaborn as sns
import re

In [253]:
data = pd.read_csv('../TP1/properatti.csv')
data_cruda = pd.read_csv('../TP1/properatti.csv')

## Para quedarnos solo con las columnas importantes

Nos quedamos solo con las columnas que aportan valor para estimar el precio del metro cuadrado

In [106]:
def eliminar_columnas(dataframe):
    dataframe = dataframe.drop(columns=['Unnamed: 0','operation','place_name','place_with_parent_names','country_name','geonames_id','lat-lon','lat','lon','floor','expenses','properati_url','image_thumbnail'])
    return dataframe

In [107]:
data = eliminar_columnas(data)
data.columns

Index(['property_type', 'state_name', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'rooms',
       'description', 'title'],
      dtype='object')

## Para quedarnos sólo con ARS y USD, eliminando los otros

Eliminamos las filas que tengan precios publicados en monedas que no sean pesos ni dolares

In [108]:
def eliminar_otras_currency(dataframe):
    mask_uyu = dataframe.currency == "UYU"
    mask_pen = dataframe.currency == "PEN"
    dataframe = dataframe.drop(data.currency[mask_uyu].index)
    dataframe = dataframe.drop(data.currency[mask_pen].index)
    return dataframe

In [109]:
data = eliminar_otras_currency(data)
data.currency.value_counts()

USD    87587
ARS    13219
Name: currency, dtype: int64

## Para quedarnos solo apartment y house

Eliminamos las filas que no contengan apartment y house, debido a que los demás hay pocos registros en proporcion a los que hay en apartment y house

In [110]:
data.property_type.value_counts()

apartment    71063
house        40267
PH            5751
store         4136
Name: property_type, dtype: int64

In [127]:
def eliminar_ph_y_store(dataframe):
    dataframe = dataframe.drop(dataframe.loc[dataframe.property_type == 'PH'].index)
    dataframe = dataframe.drop(dataframe.loc[dataframe.property_type == 'store'].index)
    return dataframe

In [130]:
data = eliminar_ph_y_store(data)
data.property_type.value_counts()

apartment    71063
house        40267
Name: property_type, dtype: int64

## Para quedarnos solo con >1000 publicaciones por ciudad

Nos quedamos con los registros que pertenezcan a ciudades donde haya al menos mas de 1000 publicaciones ya que el resto no es un numero que estimamos suficiente para realizar una estimación adecuada

In [269]:
def solo_mayores_a_mil(dataframe):
    cantidad_de_publicaciones = 1000
    lista = list((dataframe['state_name'].value_counts()>1000)[dataframe['state_name'].value_counts()>cantidad_de_publicaciones].index)
    dataframe = dataframe[dataframe['state_name'].isin(lista)]
    return dataframe

In [272]:
data = solo_mayores_a_mil(data)
data.state_name.value_counts()

Capital Federal                 32316
Bs.As. G.B.A. Zona Norte        25560
Bs.As. G.B.A. Zona Sur          13952
Córdoba                         12069
Santa Fe                        10172
Buenos Aires Costa Atlántica    10006
Bs.As. G.B.A. Zona Oeste         9322
Buenos Aires Interior            2291
Name: state_name, dtype: int64